<table>
  <tbody class>
    {{#each report}}
      <tr class="col-sm-4" style="margin-top:20px">
        <td class="mytable">
          <button type="button" class="btn btn-success btn--tag js-store-detatch-build_factor" data-store-id="{{store}}" >Store {{store}} <i
            class="fa fa-times-circle"></i></button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
